@*@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Site.TechNow.Models.sitecore.templates.TechNow_template.Header_Template>*@
@model Site.TechNow.Models.sitecore.templates.TechNow_template.Header_Template
@using Glass.Mapper.Sc.Web.Mvc

<div class="header-section">
    <div class="row">
        <div class="col-md-4">
            <div class="left_section">
                <span class="date">
                    Sunday .
                </span>
                <!-- Date -->
                <span class="time">
                    @Model.Time.ToShortDateString()
                </span>
                <!-- Time -->
                <div class="social">
                    @foreach (var item in Model.Link_icon)
                    {
                        <a class="icons-sm fb-ic">@item.Img_Link</a>
                    }
                </div>
                <!-- Top Social Section -->
            </div>
            <!-- Left Header Section -->
        </div>
        <div class="col-md-4">
            <div class="logo">
                <a href="index.html"><img src="@Model.Logo_Img.Src" alt="Tech NewsLogo" /></a>
            </div>
            <!-- Logo Section -->
        </div>
        <div class="col-md-4">
            <div class="right_section">
                <ul class="nav navbar-nav">
                    <li><a href="#">@Model.Title_Login</a></li>
                    <li><a href="#">@Model.Title_Register</a></li>
                    <li class="dropdown lang">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            En <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Bn</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Language Section -->

                <ul class="nav-cta hidden-xs">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="head-search">
                                    <form role="form">
                                        <!-- Input Group -->
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Type Something"> <span class="input-group-btn">
                                                <button type="submit"
                                                        class="btn btn-primary">
                                                    Search
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Search Section -->
            </div>
            <!-- Right Header Section -->
        </div>
    </div>
</div>
<!-- Header Section -->
